---
import Wrapper from '../layouts/Wrapper.astro';
import Nav from '../components/common/Nav.astro';
import Working from '../components/common/Working.astro';
---

<Wrapper title="Ceol - Explore">
  <div class="fixed w-full z-100">
    <Nav active="Explore"/>
  </div>
  <div class="font-sans flex text-matty-900 h-screen items-center justify-center">
    <Working />
  </div>
</Wrapper>