---
import Wrapper from '../layouts/Wrapper.astro';
import Nav from '../components/common/Nav.astro';
import Card from '../components/common/Card.astro';
import About from '../components/home/About.astro';
---

<Wrapper title="Welcome to Ceol">
  <div class="fixed w-full z-100">
    <Nav active="Home"/>
  </div>
  <div class="font-sans flex text-matty-900 px-12 h-screen items-center">
    <div class="flex-1 flex flex-col pt-12">
      <h1 class="font-poppins text-4xl font-medium my-8 leading-10">
        Learning comes from Developing and Sharing. Boost your journey with Ceol
      </h1>
      <div class="text-lg text-matty-700">
        We aim for a breakthrough with consistently collaborating, 
        building solutions and growing together 
        as our key objectives. This is the platform where we 
        showcase our prowess by contributing to the field of 
        computer science
      </div>
      <div class="font-poppins mt-8 font-medium ">
        <a href="/showcase" class="font-poppins rounded-full bg-matty-900 text-white px-6 py-4">Visit Showcase</a>
        <a href="/articles" class="font-poppins px-6 py-4">Read our articles</a>
      </div>
    </div>
    <div class="flex-1 overflow-hidden">
      <img src="/ceol-3d.png" alt="ceol-3d" class="ml-16">
    </div>
  </div>

  <div class="px-12 text-matty-900">
    <h2 class="font-poppins text-3xl font-medium my-4">Projects and Research</h2>
    <div class="grid grid-cols-11 gap-8">
      <div class="col-span-4">
      <Card 
        title="Automating dormitory mess management" 
        description="Improving the management of mess by automating parts of management to decrease labour work." 
        href="/showcase/automating-dormitory-mess-management"
        image="https://images.unsplash.com/photo-1600219069516-cbb3dd32fde0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" 
        type="Showcase"
      />
      </div>
      <div class="col-span-4">
      <Card 
        title="Automating dormitory mess management" 
        description="Improving the management of mess by automating parts of management to decrease labour work." 
        href="/showcase/automating-dormitory-mess-management"
        image="https://images.unsplash.com/photo-1600219069516-cbb3dd32fde0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" 
        type="Showcase"
      />
      </div>
      <div class="flex justify-center items-center col-span-3">
        <a href="/showcase" class="flex rounded-full bg-matty-900/10 hover:bg-matty-200 text-matty-900 font-poppins font-medium px-6 py-4">
          Look at more Projects
          <span class="ml-2 material-symbols-rounded">arrow_forward</span>
        </a>
      </div>
      
    </div>
  </div>

  <div class="px-12 text-matty-900 my-10">
    <About />
  </div>
</Wrapper>