---
---

<!-- <div class="flex flex-col justify-center items-center">
  <img src="/working.svg" alt="we are working" class="w-64 mb-12" />
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-3xl font-poppins font-medium my-4">Sorry, it is not you. It is us. We are still working. Sorry for incovinence</h1>
    <div class="text-blue-600 flex gap-x-2">
      <a class="hover:underline hover:decoration-1 hover:font-medium" href="/">Go back to home?</a>
      <a class="hover:underline hover:decoration-1 hover:font-medium" href="/">Know our projects?</a>
      <a class="hover:underline hover:decoration-1 hover:font-medium" href="/">Read our articles?</a>
    </div>
  </div>
</div> -->